@use "./variables";
@use "./global";
@use "./blog";

// ORIGINAL STYLES ARE SET FOR 1750PX MONITOR


// LAPTOP
@media (max-width: 1500px) {
    .blog-nav-container {
        width: 80%;
        img {
            transform: translate(-5rem, -4ex);
        }
    }
    .post-container {
        margin-left: 3rem;
        img {
            transform: translate(1rem, 3ex);
        }
    }

    // COMMENT SECTION
    .comment-container p:first-child {
        font-weight: bold;
    }
}

@media (max-width: 1300px) {
    // COMMENT SECTION
        .comment-container {
            margin-left: -8rem;
        }
}

@media (max-width: 1100px) {
    .nav-bar-flex {
        .blog-header-text {
            
            // margin-left: -6rem;
        
            h1 {
                margin-top: -12rem;
                font-size: 2rem;
            }
        }
    }
}

@media (max-width: 850px) {
    .blog-nav-container img, .post-container img{
        display: none;
    }

    .comment-container {
        margin-left: -22em;
    }
}

@media (max-width: 550px) {
    .nav-bar-flex ul {
        margin-top: -2rem;
    }

    .blog-header-text h1 {
        margin-top: 11rem;
    }

    .content-flex {
        flex-direction: column;
    }
}