@use "./variables";
@use "./global";

// HEADER / NAV

header {
    .contact-nav {
        background-image: url('../assets/contact-header.jpg');
        height: 80vh;
        background-size: cover;
        background-position: center;
        
        .flex {
        
            .nav-bar-flex {
                width: 40%;
                margin-top: 40px;
                
                ul {
                    display: flex;

                    li {
                        color: variables.$tertiary;
                        font-size: 1.2rem;
                    }
                    
                    li a:hover {
                        margin: 2px;
                        border-bottom: 3px solid variables.$primary;
                    }
                }   
            
            }
            .contact-header-text {
                margin-top: 7rem;
        
                h1 {
                    font-size: 5rem;
                    color: variables.$tertiary;
                }
            }
        }
    }
}

main {
// CONTACT INFO CONTAINER
    .flex {
        padding-bottom: 100px;
        justify-content: space-between;
        
        .icons-email {
            padding-top: 6rem;
            padding-left: 10rem;
            margin-right: 4rem;
        }

        .icons {
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;

            li {
                height: 30px;
                width: 30px;
            }

            .fa-brands {
                color: variables.$secondary;
                
            }
        }

        .phone-address {
            color: black;
            line-height: 1.5;
        }
    }


    // FORM
    .submit-message {
        background-color: variables.$background-2;
        width: 60%;
        padding: 100px 100px;
        box-shadow: 10px 10px variables.$primary;
        position: absolute;
        bottom: -200px;
        right: 50px;
        // transform: translate(-3rem, -15ex);

        input {
            border-bottom: 2px solid variables.$primary;
            margin-bottom: 15px;
            color: variables.$tertiary;
            background: transparent;
            font-family: variables.$body-font;
            margin-bottom: 15px;
            padding: 10px 20px;
            width: 45%;

            &::placeholder {
                font-family: variables.$body-font;
                color: variables.$tertiary;
                opacity: 1;
            }
        }
        
        textarea {
            font-size: 20px;
            font-family: variables.$body-font;
            color: variables.$tertiary;
            font-weight: 400;
    
            border: 2px solid variables.$primary;
            background: transparent;
    
            width: 100%;
            padding: 15px 20px;
            margin: 5% 0;

            &::placeholder {
                color: variables.$tertiary;
                opacity: 1;
            }
        }
    
        button {
            background-color: variables.$primary;
            color: variables.$secondary;
            font-size: 1rem;
            width: 100%;
            padding: 10px 35px;
            border: none;
            transition: .5s;

            &:hover,
            &:focus {
                background-color: variables.$tertiary;
                color: variables.$primary;
            }
        }
    }
}