// UPDATE WITH MY VARIABLES!!!

@use "./variables";

html {
    font-size: 125%;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1500px;
}

header {
    background-image: url('../assets/home-header.jpg');
}

h1, h2, h3, h4 {
    text-transform: uppercase;
    font-family: variables.$heading-font;
}

nav, p {
    font-family: 'Roboto';
}

p {
    font-size: 400;
}

footer {
    background-color: variables.$primary;
    color: variables.$secondary;
    font-family: 'Roboto';
    font-weight: 400;
    
    p {
        padding: 15px 0;
        text-align: center;
    }
}

// SET FONT SIZES!

// HEADINGS:
// h1: 79px;
// h2: 45px;
// h3: 40px;
// h4: 25px;

// OTHER TEXT:
// button: 22.4px;
// nav: 29px;
// body text: 20px;

button {
    font-family: variables.$heading-font;
    color: variables.$secondary;
    text-transform: uppercase;
    background-color: variables.$primary;
    padding: 18px 36px;
    border: 2px solid variables.$primary;
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 1.2rem;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: variables.$primary;
    }

    &:focus {
        background-color: variables.$primary;
        color: variables.$tertiary;
    }


// IDK if code below applies to me so cross-reference with code along HTML    
    &.secondary {
        background-color: variables.$primary;
        border-color: variables.$tertiary;
        color: variables.$tertiary;
        padding: 8px 12px;

        &:hover {
            background-color: variables.$tertiary;
            color: variables.$primary;
        }

        &:focus {
            background-color: variables.$tertiary;
            color: variables.$primary;
        }
    }

    &.solid {
        color: variables.$tertiary;
        background-color: variables.$primary;

        &:hover {
            color: variables.$primary;
            background-color: variables.$tertiary;
        }
    }

    /* style the button in the main nav menu to look just like an icon */
    &.menu-icon {
        display: inherit;
        padding: 0;
        border: none;

        &:hover {
            background-color: transparent;
        }

        &:focus {
            background-color: transparent;
        }
    }
}

a {
    &.button {
        color: variables.$primary;
        background-color: transparent;
        padding: 18px 36px;
        border: 2px solid variables.$primary;
        font-size: 0.8rem;
        font-weight: bold;
        line-height: 1.2rem;
        text-align: center;
        transition: 0.3s;

        &:hover {
            background-color: variables.$primary;
            color: variables.$tertiary;
        }

        &:focus {
            background-color: variables.$primary;
            color: variables.$tertiary;
        }
    }
}

img {
    max-width: 100%;
}