@use "./variables";
@use "./global";

header {
    background-image: url(../assets/home-header.jpg);
    height: 75vh;
    background-size: cover;
    background-position: center;

    .flex {
        flex-direction: column;
        // justify-content: space-between;

        .nav-bar-flex {
            width: 40%;
            margin-top: 40px;

            ul {
                display: flex;
                justify-content: space-between;
            }

            li {
                color: variables.$tertiary;
                font-size: 1.2rem;
            }

            li a:hover {
                margin: 2px;
                border-bottom: 3px solid variables.$primary;
            }
        }

        .flex {
            flex-direction: row;
            align-items: flex-end;
            width: 100vw;
        }
        
        .header-text {
            h1 {
                font-size: 3.75rem;
                margin-top: 75%;
            }
            span {
                display: block;
            }
        }
        .yacht-img {
            position: absolute;
            top: 10rem;
            right: -1rem
        }
    }
}

