@use "./variables";
@use "./global";

header {
    background-image: url(../assets/home-header.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;

    .header-flex {
        display: flex;
        flex-direction: column;
        // justify-content: space-between;

        .nav-bar-flex {
            width: 40%;
            margin-top: 40px;

            ul {
                display: flex;
                justify-content: space-between;
            }

            li {
                color: variables.$tertiary;
                font-size: 1.2rem;
            }

            li a:hover {
                margin: 2px;
                /* NEED MARGIN BETWEEN LINK AND BORDER */
                border-bottom: 3px solid variables.$primary;
                        }
        }

        .header-text {
            
            h1 {
                font-size: 3.75rem;
                margin-top: 25%;
            }
            span {
                display: block;
            }
        }
    }
}
