@use "./variables";
@use "./global";

// NOTE: ORIGINAL STYLES ARE SET FOR 1750PX MONITOR

// OFFSET YACHT

// LINKS CONTAINER (new destinations, blog, community, get in touch)

.links-container {
    background-color: variables.$background-1;

    h3 {
        color: variables.$secondary;
    }
    
    p {
        color: black;
        font-size: 1rem;
        font-weight: 400;
    }
    
    .links {
        padding-top: 10rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 5rem;
    }

    .items {
        width: 50%;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .link-item {
            display: flex;

            p {
                color: variables.$primary;
            }
        }
    }
}

// FEATURES CONTAINER (OUR PROGRAM/NEW LOCATIONS)

.features-container {
    background-color: variables.$background-2;
    padding-top: 4rem;
    padding-bottom: 4rem;
    justify-content: space-between;

    h3, p {
        color: white;
    }

    .programs-box {
        padding-left: 12rem;
    }

    .locations-box {
        padding-right: 12rem;
        text-align: right;
     }

    .feat-img-1,
    .feat-img-2 {
            position: relative;
        }
    
    .feat-img-1 img {
        position: absolute;
        color: variables.$primary;
        top: -7.5rem;
        left: -7.5rem;
        box-shadow: 20px 20px variables.$primary;
    }
    
    .feat-img-2 img {
        position: absolute;
        color: variables.$primary;    
        bottom: -7.5rem;
        right: -7rem;
        box-shadow: -20px 20px variables.$primary;
    }
}

// EXTRA VACATION DAYS?

.vacation-container {
    background-color: variables.$background-1;
    max-height: 500px;
    padding-top: 8rem;
    padding-bottom: 8rem;

    .text-container {
        padding: 30px 50px 50px 50px;

        h2 {
            color: variables.$secondary;
            text-align: center;
        }
        
        p {
            color: black;
            text-align: center;
            padding-left: 5rem;
            padding-right: 5rem;
        }

        .flex {
            button {
                justify-content: center;
            }
        }
        button {
            margin: 0 auto;
            width: 20%;
        }
       
    }
}

// WIN THE TRIP OF A LIFETIME

.win-trip-container {
    background-color: variables.$background-1;

    .win-trip {
        // display: flex;
        justify-content: space-between;
        padding: 5rem 0;
    }

    .text-container {
        width: 80%;
        
        h2 {
            color: variables.$secondary;
        }

        p {
            color: black;
            // margin: 0 auto;
        }

        button {
                margin: 20px auto;
                display: block;
            }
        }
    }

    .cove-pic img {
        width: 100%;
    }

    .win-trip-img {
        margin-right: 3rem;
        
        img {
            box-shadow: -15px 15px variables.$primary;
        }
    }

    .text-container p {
        margin: 25px 0;
    }


// GALLERY OF BOAT PICS

.boat-gallery {
    background-color: variables.$background-2;
    padding-top: 6rem;
    padding-bottom: 6rem;

    .gallery-flex {
        display: flex;
        justify-content: space-between;
    }

    .gallery-flex li {
        width: calc((100% /3) - 30px);
    }
}



