@use "./variables";

// Import our Fonts for Use

// IM_Fell_English ITALIC
@font-face {
    font-family: "IM_Fell_English";
    src: url('../fonts/IM_Fell_English/IMFellEnglish-Italic.ttf');
    font-weight: normal;
}

// Roboto BOLD
@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
    font-weight: bold;
}

// Roboto REGULAR
@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

html {
    /* if we set our root element font-size to 125%, then 1 rem = 20px */
    font-size: 125%;
}

body {
    font-family: variables.$body-font;
    font-size: 1rem;
    color: variables.$primary;
}

h1,
h2,
h3,
h4,
blockquote {
    font-family: variables.$heading-font;
    font-weight: normal;
    color: variables.$primary;
    margin: 0;
}

h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 18px;
}

h3 {
    font-size: 2.7rem;
    line-height: 3rem;
    margin-bottom: 24px;
}

h4 {
    font-size: 1.7rem;
    line-height: 2rem;
    margin-bottom: 18px;
}

p {
    line-height: 1.5rem;
    margin: 0 0 30px 0;
}

ul,
li,
a,
input {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: 0.3s;
}