// COLOURS:
// primary text (dandelion): #FDD908;
// secondary (twilight blue): #0D457F;
// tertiary (white): #FFFFFF;

// Colours
$primary: #FDD908;
$secondary: #0D457F;
$tertiary: #FFFFFF;

// Background colors
$background-1: #EAFEFC;
$background-2: #0D457F;
$footer: #FDD908;

// Font Families 
$heading-font: "IM_Fell_English";
$body-font: "Roboto";