html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skip-link {
  position: absolute;
  left: -1000px;
  z-index: 10;
  background: #fff;
  color: black;
  font-size: 1rem;
  padding: 10px 0;
}

.skip-link:focus {
  left: 0;
  right: 0;
  text-align: center;
}

@font-face {
  font-family: "IM_Fell_English";
  src: url("../fonts/IM_Fell_English/IMFellEnglish-Italic.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
html {
  /* if we set our root element font-size to 125%, then 1 rem = 20px */
  font-size: 125%;
}

body {
  font-family: "Roboto";
  font-size: 1rem;
  color: #FDD908;
}

h1,
h2,
h3,
h4,
blockquote {
  font-family: "IM_Fell_English";
  font-weight: normal;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 18px;
}

h3 {
  font-size: 2.7rem;
  line-height: 3rem;
  margin-bottom: 24px;
}

h4 {
  font-size: 1.7rem;
  line-height: 2rem;
  margin-bottom: 18px;
}

p {
  line-height: 1.5rem;
  margin: 0 0 30px 0;
}

ul,
li,
a,
input {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

html {
  font-size: 125%;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
  font-family: "IM_Fell_English";
}

img {
  max-width: 100%;
}

nav, p {
  font-family: "Roboto";
}

p {
  font-size: 400;
}

footer {
  background-color: #FDD908;
  color: #0D457F;
  font-family: "Roboto";
  font-weight: 400;
}
footer p {
  padding: 15px 0;
  text-align: center;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
  max-width: 1750px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button {
  font-family: "IM_Fell_English";
  color: #0D457F;
  text-transform: uppercase;
  background-color: #FDD908;
  padding: 18px 36px;
  border: 2px solid #FDD908;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.2rem;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button:hover {
  background-color: #FDD908;
}
button:focus {
  background-color: #FDD908;
  color: #FFFFFF;
}

.links-container {
  background-color: #EAFEFC;
}
.links-container h3 {
  color: #0D457F;
}
.links-container p {
  color: black;
  font-size: 1rem;
  font-weight: 400;
}
.links-container .links {
  padding-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.links-container .items {
  width: 50%;
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.links-container .items .link-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.links-container .items .link-item p {
  color: #FDD908;
}

.features-container {
  background-color: #0D457F;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.features-container h3, .features-container p {
  color: white;
}
.features-container .img-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.features-container .feat-img-1,
.features-container .programs-box,
.features-container .feat-img-2,
.features-container .locations-box {
  min-width: 360px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.features-container .locations-box {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.features-container .feat-img-1,
.features-container .feat-img-2 {
  position: relative;
}
.features-container .feat-img-1 img {
  position: absolute;
  color: #FDD908;
  top: -7.5rem;
  left: -7.5rem;
  -webkit-box-shadow: 10px 10px #FDD908;
          box-shadow: 10px 10px #FDD908;
}
.features-container .feat-img-2 img {
  position: absolute;
  color: #FDD908;
  bottom: -7.5rem;
  right: -7.5rem;
  -webkit-box-shadow: 10px 10px #FDD908;
          box-shadow: 10px 10px #FDD908;
}

.vacation-container {
  background-color: #EAFEFC;
  max-height: 500px;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.vacation-container .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 50px 50px 50px;
  position: relative;
}
.vacation-container .text-container h2 {
  color: #0D457F;
  text-align: center;
}
.vacation-container .text-container p {
  color: black;
  text-align: center;
}

.win-trip-container {
  background-color: #EAFEFC;
}
.win-trip-container .win-trip-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.5rem 0;
}
.win-trip-container .text-container {
  width: 80%;
}
.win-trip-container .text-container h2 {
  color: #0D457F;
}
.win-trip-container .text-container p {
  color: black;
  margin: 25px 0;
}
.win-trip-container .cove-pic {
  width: 100%;
}
.win-trip-container .win-trip-img {
  margin-right: 3rem;
}
.win-trip-container .text-container p {
  /* font-size: 1rem; */
  margin: 25px 0;
}

.boat-gallery {
  background-color: #0D457F;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.boat-gallery .gallery-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.boat-gallery .gallery-flex li {
  width: calc(33.3333333333% - 30px);
}

header {
  background-image: url(../assets/home-header.jpg);
  height: 75vh;
  background-size: cover;
  background-position: center;
}
header .flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .flex .nav-bar-flex {
  width: 40%;
  margin-top: 40px;
}
header .flex .nav-bar-flex ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .flex .nav-bar-flex li {
  color: #FFFFFF;
  font-size: 1.2rem;
}
header .flex .nav-bar-flex li a:hover {
  margin: 2px;
  border-bottom: 3px solid #FDD908;
}
header .flex .flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100vw;
}
header .flex .header-text h1 {
  font-size: 3.75rem;
  margin-top: 75%;
}
header .flex .header-text span {
  display: block;
}
header .flex .yacht-img {
  position: absolute;
  top: 10rem;
  right: -1rem;
}

@media (max-width: 1400px) {
  .yacht-img {
    max-width: 50rem;
  }
}
@media (max-width: 900px) {
  .wrapper {
    width: 80%;
  }
  .header-text {
    text-align: center;
  }
  .yacht-img {
    display: none;
  }
}
@media (max-width: 500px) {
  .header-text {
    text-align: center;
  }
  .yacht-img {
    display: none;
  }
}
header .blog-nav {
  background-image: url("../assets/blog-header.jpg");
  height: 80vh;
  background-size: cover;
  background-position: center;
}
header .blog-nav .flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .blog-nav .flex .nav-bar-flex {
  width: 40%;
  margin-top: 40px;
}
header .blog-nav .flex .nav-bar-flex ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
header .blog-nav .flex .nav-bar-flex li {
  color: #FFFFFF;
  font-size: 1.2rem;
}
header .blog-nav .flex .nav-bar-flex li a:hover {
  margin: 2px;
  border-bottom: 3px solid #FDD908;
}
header .blog-nav .flex .contact-header-text h1 {
  font-size: 4rem;
  color: #FFFFFF;
}

main {
  background-color: #EAFEFC;
}
main h2 {
  color: #0D457F;
}
main p {
  color: black;
}
main .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main .blog-nav-container {
  background-color: #0D457F;
  margin-left: 25%;
  margin-right: 10%;
  margin-top: 10%;
}
main .blog-nav-container img {
  -webkit-transform: translate(-3rem, -4ex);
          transform: translate(-3rem, -4ex);
}
main .blog-nav-box {
  padding: 40px;
}
main .blog-nav-box p {
  color: #FFFFFF;
}
main .post-container {
  margin-left: 6rem;
  border-left: 3px solid #FDD908;
  border-bottom: 3px solid #FDD908;
}
main .post-container img {
  border: 10px solid #FDD908;
}
main .post-container .text-container {
  padding: 30px 50px 50px 80px;
}
main .recent-posts li {
  list-style: circle;
}
main .comment-section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
main .comment-section .comment-container .flex-column {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
main .comment-section .comment-1 .comment-pic, main .comment-section .comment-2 .comment-pic {
  margin-right: 20px;
}
main .comment-section .comment-1 .text-container, main .comment-section .comment-2 .text-container {
  width: 80%;
}

.img-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feat-img-1,
.programs-box,
.feat-img-2,
.locations-box {
  min-width: 360px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.locations-box {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

header .contact-nav {
  background-image: url("../assets/contact-header.jpg");
  height: 80vh;
  background-size: cover;
  background-position: center;
}
header .contact-nav .flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .contact-nav .flex .nav-bar-flex {
  width: 40%;
  margin-top: 40px;
}
header .contact-nav .flex .nav-bar-flex ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .contact-nav .flex .nav-bar-flex ul li {
  color: #FFFFFF;
  font-size: 1.2rem;
}
header .contact-nav .flex .nav-bar-flex ul li a:hover {
  margin: 2px;
  border-bottom: 3px solid #FDD908;
}
header .contact-nav .flex .nav-bar-flex .header-text h1 {
  font-size: 3.75rem;
}

main .flex .icons-email {
  padding-top: 6rem;
  padding-left: 10rem;
}
main .flex .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}
main .flex .icons li {
  height: 30px;
  width: 30px;
}
main .flex .icons .fa-brands {
  color: #0D457F;
}
main .flex .phone-address {
  color: black;
  line-height: 1.5;
}
main .form {
  background-color: #0D457F;
  width: 55%;
  padding: 50px;
  -webkit-box-shadow: 10px 10px #FDD908;
          box-shadow: 10px 10px #FDD908;
  -webkit-transform: translate(-3rem, -15ex);
          transform: translate(-3rem, -15ex);
}
main .form .form-container {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}
main .form .form-container input::-webkit-input-placeholder {
  font-size: 20px;
  font-family: "Roboto";
  color: #FFFFFF;
  font-weight: 400;
}
main .form .form-container input::-moz-placeholder {
  font-size: 20px;
  font-family: "Roboto";
  color: #FFFFFF;
  font-weight: 400;
}
main .form .form-container input:-ms-input-placeholder {
  font-size: 20px;
  font-family: "Roboto";
  color: #FFFFFF;
  font-weight: 400;
}
main .form .form-container input::-ms-input-placeholder {
  font-size: 20px;
  font-family: "Roboto";
  color: #FFFFFF;
  font-weight: 400;
}
main .form .form-container input::placeholder {
  font-size: 20px;
  font-family: "Roboto";
  color: #FFFFFF;
  font-weight: 400;
}
main .form .form-container input {
  border-bottom: 2px solid #FDD908;
  background: transparent;
  padding: 10px 20px;
  width: 90%;
}
main .form .message-box {
  padding: 20px;
}
main .form .message-box textarea {
  font-size: 20px;
  font-family: "Roboto";
  color: #FFFFFF;
  font-weight: 400;
  border: 2px solid #FDD908;
  background: transparent;
  resize: none;
  width: 90%;
  padding: 15px 20px;
}
main .form .message-box .submit-button {
  font-size: 1rem;
}